.navbar-brand:after {
    content: "GLASS \A Examples";
    color: var(--pst-color-primary);
    font-size: 0.9em;
    font-weight: 200;
    font-stretch: 110%;
    letter-spacing: .1em;
    line-height: 1;
    vertical-align: middle;
    margin-left: 0.2em;
    white-space: pre;
}
